body {
  background-color: lightgray;
}

h1,
h2,
h3,
p,
li {
  font-family: Verdana;
  color: gray;
}

p::first-letter {
  font-size: 1.5rem;
}

h1,
h2 {
  color: lightseagreen;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dt {
  color: brown;
}

dd {
  font-style: italic;
}

ol {
  display: flex;
  flex-direction: column-reverse;
}
