body {
  background-color: white;
  background-image: url("silverware.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #404040;
  font-family: Georgia, Garamond, serif;
  font-size: 11pt;
}

h1,
h2 {
  color: #a4a400;
  background-color: #f0f0f0;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-align: left;
  text-decoration: underline;
}

h1 {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 18pt;
  font-weight: normal;
}

a {
  color: #a4a400;
}

.tooltip {
  text-decoration: underline;
  cursor: help;
}

blockquote {
  background-color: #ffffa8;
  font-style: italic;
  margin-left: 20px;
}

pre {
  font-family: monospace;
  text-align: right;
  max-width: fit-content;
}

ul {
  list-style-image: url("pie_icon.gif");
}
